# The port to run the application's web server on
APPLICATION_PORT=3001

# The absolute URL to the application.
APPLICATION_BASE_URL=http://localhost:3000

# The webpack output path
OUTPUT_PATH=dist

# The public output path for compiled file to be served
PUBLIC_OUTPUT_PATH=dist/public

# The primary asset path. In production, you might want to change this to be a
# CDN URL.
PUBLIC_ASSET_PATH=/assets/
