.appContainer {
  height: 100%;

  .container {
    display: flex;
    justify-content: flex-start;

    .sidebar {
      flex: 0;
    }
    .content {
      flex: 1;
      padding: 0 30px;
    }
  }
}
