<!doctype html>
<html>
<head>
  <%= helmet.title %>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width height=device-height" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
  <link type="text/css" rel="stylesheet" href="<%= assets['vendor.css'] %>" />
  <link type="text/css" rel="stylesheet" href="<%= assets['admin.css'] %>" />
</head>
<body>
  <div id="app"><%= html %></div>
  <script>window.__APOLLO_STATE__ = <%= JSON.stringify(initialState).replace(/</g, '\\u003c') %>;</script>
  <script src="<%= assets['vendor.js'] %>"></script>
  <script src="<%= assets['admin.js'] %>"></script>
</body>
</html>
